/** Globales **/
.contenedor{
    max-width: 1200px; /* toma todo el ancho de la página hasta el maximo indicado*/
    margin: 0 auto; /* centrar el contenedor*/
}

/* Header */
.site-header.inicio{
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover; /*forzar que tome todo el espacio en altura y en ancho*/
    height: 100vh; /*medida para obtener el alto de la pantalla*/
    min-height: 600px;
}
